{% load static %}

<!-- //brand -->
<div class="pt-5">
  <div class="py-5 bg-light">
    <div class="container-fluid theme-container">
      <div class="row mb-2">
        <div class="col">
          <h5 class="product-heading">Popular brands</h5>
        </div>
      </div>
      <div
        class="slider arrow-light slider-gap"
        data-slides-to-show="8"
        data-autoplay="true"
        data-nav="true"
        data-dots="false"
      >
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-1.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Summer Essentials
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-2.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Healthcare Devices
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-3.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Summer Essentials
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-4.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Healthcare Devices
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-5.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Summer Essentials
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-6.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Healthcare Devices
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-7.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Healthcare Devices
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-8.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Healthcare Devices
          </a>
        </div>
        <div class="product-brand">
          <a href="category.html" class="product-img">
            <img src="{% static 'img/brand/brand-9.png' %}" class="" alt="" />
          </a>
          <a href="category.html" class="product-info">
            Healthcare Devices
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
