{% load static %}

<footer class="site-footer footer-padding-lg bg-light mt-8">
  <div class="container-fluid theme-container">
    <div class="upper-footer">
      <div class="row justify-content-around">
        <div class="col-lg-4 col-md-3 col-12">
          <div class="widget">
            <div class="footer-brand">
              <img src="{% static 'img/logo.png' %}" alt="" />
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              numquam sit optio consectetur et pariatur modi officiis veritatis
              repellat alias?
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="widget">
            <div class="widget-title">
              <h3>Usefull Links</h3>
            </div>
            <ul>
              <li>
                <a href="javascript:void(0)">Documentation</a>
              </li>
              <li>
                <a href="javascript:void(0)">Support</a>
              </li>
              <li>
                <a href="javascript:void(0)">Privacy &amp; terms</a>
              </li>
              <li>
                <a href="javascript:void(0)">Sitemap</a>
              </li>
              <li>
                <a href="javascript:void(0)">Customers</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="widget">
            <div class="widget-title">
              <h3>Help</h3>
            </div>
            <ul>
              <li>
                <a href="javascript:void(0)">Home</a>
              </li>
              <li>
                <a href="javascript:void(0)">About Us</a>
              </li>
              <li>
                <a href="javascript:void(0)">Business Partnership</a>
              </li>
              <li>
                <a href="javascript:void(0)">Blogs</a>
              </li>
              <li>
                <a href="javascript:void(0)">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="widget">
            <div class="widget-title">
              <h3>Policy</h3>
            </div>
            <ul>
              <li>
                <a href="javascript:void(0)">Privacy policy</a>
              </li>
              <li>
                <a href="javascript:void(0)">Terms and Conditions</a>
              </li>
              <li>
                <a href="javascript:void(0)">Return Policy</a>
              </li>
              <li>
                <a href="javascript:void(0)">Refund Policy</a>
              </li>
              <li>
                <a href="javascript:void(0)">Ip Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-3 col-12">
          <div class="widget">
            <div class="widget-title">
              <h3>Social</h3>
            </div>
            <ul>
              <li>
                <a href="javascript:void(0)">Facebook</a>
              </li>
              <li>
                <a href="javascript:void(0)">Google</a>
              </li>
              <li>
                <a href="javascript:void(0)">Pinterest</a>
              </li>
              <li>
                <a href="javascript:void(0)">Linkedin</a>
              </li>
              <li>
                <a href="javascript:void(0)">Dribble</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="lower-footer">
      <div class="row">
        <div class="col-md-6 text-lg-left">
          <p class="mb-4 mb-md-0 text-muted">
            Copyright © <span id="year">2022</span> Hospitania All rights
            reserved.
          </p>
        </div>
        <div class="col-md-6">
          <div class="footer-card text-lg-right">
            <img
              class="img-fluid mx-2"
              src="{% static 'img/payment.png' %}"
              alt="Icon"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
