{% load static %}

<!-- //Offer-->
<div class="pt-5">
  <div class="offers-list bg-light py-5 offers-grid-2">
    <div class="container">
      <ul>
        <li>
          <div class="offer-image">
            <img src="{% static 'img/offer/offer-1.png' %}" alt="" />
          </div>
          <div class="offer-info">
            <h2 class="offer-title">
              True Basics Flat 10% off
            </h2>
            <p class="offer-subtitle">
              Clinically Researched Essentials
            </p>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm"
              >Shop now</a
            >
          </div>
        </li>
        <li>
          <div class="offer-image">
            <img src="{% static 'img/offer/offer-2.png' %}" alt="" />
          </div>
          <div class="offer-info">
            <h2 class="offer-title">
              True Basics Flat 10% off
            </h2>
            <p class="offer-subtitle">
              Clinically Researched Essentials
            </p>
            <a href="javascript:void(0)" class="btn btn-primary btn-sm"
              >Shop now</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
